.login-background { 
  /* The image used */
  background-image: url("/img/2013_metal_gear_rising_revengeance-1920x1080.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}