.login-background { 
  /* The image used */
  background-image: url("/img/2013_metal_gear_rising_revengeance-1920x1080.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.topnav ul li {float: left;}

.topnav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-variant: small-caps;
    font-size: 24px;
    letter-spacing: 1px;
}

.topnav ul li a:hover:not(.active) {background-color: #3C99EB;}

.topnav ul li a.active {background-color: #4774AD}

.topnav ul li.right {float: right;}